body {
    margin: 0;
}

.sidebar {
    height: 100%;
    position: fixed;
    padding: 1em;
    background-color: #eee;
    width: 180px;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    grid-gap: 0.25em;
    margin: 1em 0;
}
.sidebar-item.sidebar-action-item {
    position: absolute;
    bottom: 0;
    background: inherit;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    padding: 1em;
    box-shadow: 0 0 60px rgba(0,0,0,0.18);
}
.accounts-wrap .account-type-label {
    font-size: 0.9em;
    color: gray;
}